openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW WeMeet Web API'
 description: 'Web Resources Specification (A7) for WeMeet'

servers:
- url: http://lbaw.fe.up.pt
 description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw22102/-/wikis/Architecture-Specification-and-Prototype

tags:
 - name: 'M01: Authentication and Individual Profile'
 - name: 'M02: Events'
 - name: 'M03: Reviews and Wish list'
 - name: 'M04: Loans'
 - name: 'M05: User Administration'
 - name: 'M05: Static pages'

paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:          # <!--- form field name
                 type: string
               password:    # <!--- form field name
                 type: string
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /logout:

   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, ADM'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to login form.'
                 value: '/login'

 /register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show Sign-Up UI'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               username:
                 type: string
               email:
                 type: string
               picture:
                 type: string
                 format: binary
             required:
                - username
                - email
                - password

     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /users/{id}:
   get:
     operationId: R106
     summary: 'R106: View user profile'
     description: 'Show the individual user profile. Access: USR'
     tags:
       - 'M01: Authentication and Individual Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show User Profile UI'

 

 /api/events:
   get:
     operationId: R202
     summary: 'R202: Search Events API'
     description: 'Searches for events and returns the results as JSON. Access: PUB.'

     tags:
       - 'M02: Events'

     parameters:
       - in: query
         name: query
         description: String to use for full-text search
         schema:
           type: string
         required: false
       - in: query
         name: item
         description: Category of the works
         schema:
           type: string
         required: false
       - in: query
         name: loaned
         description: Boolean with the loaned flag value
         schema:
           type: boolean
         required: false
       - in: query
         name: owner
         description: Boolean with the owner flag value
         schema:
           type: boolean
         required: false
       - in: query
         name: classification
         description: Integer corresponding to the work classification
         schema:
           type: integer
         required: false

     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   idEvent:
                     type: string
                   title:
                     type: string
                   description:
                     type: string
                   visibility:
                     type: boolean
                   picture:
                     type: string
                     format: binary
                   local:
                     type: string
                   publish_date:
                   start_date:
                   final_date:
               example:
                 - id: 1
                   title: Rihanna - Unapologetic
                   obs: Good pop music album.
                   year: 2012
                   owner: Joana Lima
                   type: MP3
