openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW WeMeet Web API'
 description: 'Web Resources Specification (A7) for WeMeet'

servers:
- url: https://lbaw22102.lbaw.fe.up.pt/
  description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw22102/-/wikis/Architecture-Specification-and-Prototype

tags:
- name: 'M01: Authentication and Individual Profile'
  description: 'Web resources associated with user authentication and individual profile management, includes the following system features: login/logout, registration, credential recovery, view and edit personal profile information.'
- name: 'M02: Events'
  description: 'Web resources associated with events. Includes the following system features:  create, edit, join, invite and delete events.'
- name: 'M03: Messages and Forum'
  description: 'Web resources associated with events forum and messages. Includes the following system features:  add, edit, vote and delete comments, create and answer polls and upload files.'
- name: 'M04: User Administration'
  description: 'Web resources associated with users administration, including the following system features: block/unblock users, manage event reports and delete events and user accounts.'
- name: 'M05: Static pages'
  description: 'Web resources associated with static pages, including the following system features: about us, contacts, user help.'

paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show [UI06]'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               password:    
                 type: string
               email:          
                 type: string
             required:
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to events page.'
                 value: '/events'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /logout:
   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, ADM'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to login form.'
                 value: '/login'

 /register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show [UI07]'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               username:
                 type: string
               email:
                 type: string
               password:
                 type: string
             required:
                  - username
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/events'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /profile:
    get:
      operationId: R106
      summary: 'R106: View User Profile'
      description: 'Show the individual user profile. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      responses:
        '200':
          description: 'Ok. Show [UI10]'
        '404':
          description: 'Not Found.'


 /profile/editProfile:
    post:
      operationId: R107
      summary: 'R107: Edit Profile'

      description: 'Edit profile information. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
                picture:
                  type: string
                  format: byte

      responses:
       '302':
         description: 'Redirect after processing update of information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful update. Redirect to edit user profile.'
                 value: '/profile/editProfile'
               302Failure:
                 description: 'Update Failed. Redirect to edit profile form.'
                 value: '/profile/editProfile'

 /events:
  get:
      operationId: R201
      summary: "R201: Show Events"
      description: "Shows all public events and private events if user is attending them. Access: PUB, USR"
      tags:
        - 'M02: Events'

      responses:
            '200':
              description: Ok. Show [UI14]
            '400':
              description: Bad Request

 /events/{id}:
  get:
      operationId: R202
      summary: "R202: Show Event Card"
      description: "Shows Event's information. Access: PUB, USR"
      tags:
        - 'M02: Events'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
            '200':
              description: Ok. Show [UI15]
            '400':
              description: Bad Request

 /eventsCreate:
  get:
      operationId: R203
      summary: "R203: Event Form"
      description: "Provide event form. Access: USR"
      tags:
        - 'M02: Events'

      responses:
       '200':
         description: 'Ok'

  post:
      operationId: R204
      summary: "R204: Event Action"
      description: "Processes the event form submission. Access: USR"
      tags:
        - 'M02: Events'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:    
                  type: string
                description:          
                  type: string
                visibility:
                  type: integer
                picture:
                  type: string
                  format: byte
                local:
                  type: string
                start_date:
                  type: string
                final_date:
                  type: string
              required:
                    - title 
                    - visibility
                    - local
                    - start_date 
                    - final_date 

      responses:
        '302':
          description: 'Redirect after processing the event form.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirect to events page.'
                  value: '/events'
                302Error:
                  description: 'Creation failed. Redirect to event form.'
                  value: '/eventsCreate'

 /myevents:
  get:
      operationId: R205
      summary: "R205: View events created by user"
      description: "Show events created by user. Access: OWN"
      tags:
        - 'M02: Events'

      responses:
       '200':
         description: 'Ok. Show [UI12]'


 /calendar:
  get:
      operationId: R206
      summary: "R206: View attended/to attend events"
      description: "Show events attened/to attend by user. Access: USR"
      tags:
        - 'M02: Events'

      responses:
        '200':
         description: 'Ok. Show [UI12]'

 /:   
    get:
      operationId: R501
      summary: 'R501: View Home Page'
      description: "View Home page. Access: PUB"
      tags:
        - 'M05: Static pages'      
        
      responses:
        '200':
          description: 'OK. Show [UI01]'

 /deleteUser/{id}: 
    get:
      operationId: R401
      summary: "R401: Delete User"
      description: "Delete User . Access: ADM"
      tags:
        - 'M04: User Administration'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
         description: 'Ok. Show [UI02]'
   
 /manageUsers:
    get:
      operationId: R402
      summary: "R402: View User Management Page"
      description: "View user management page . Access: ADM"
      tags:
        - 'M04: User Administration'

      responses:
        '200':
         description: 'Ok. Show [UI02]'

 /removeFromEvent/{id_attendee}/{id_event}: 
    get:
      operationId: R403
      summary: "R403: Manage Attendees"
      description: "Manages Attendees . Access: OWN"
      tags:
        - 'M04: User Administration'

      parameters:
        - in: path
          name: id_attendee
          schema:
            type: integer
          required: true
        - in: path
          name: id_events
          schema:
            type: integer
          required: true

      responses:
        '200':
         description: 'Ok. Show [UI03]'

 /joinEvent/{id}: 
    get:
      operationId: R207
      summary: "R207: Join Event"
      description: "Join Event . Access: USR"
      tags:
        - 'M02: Events'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
         description: 'Ok'

 /abstainEvent/{id}:
  get:
      operationId: R208
      summary: "R208: Abstain Event"
      description: "Abstain Event . Access: USR"
      tags:
        - 'M02: Events'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
         description: 'Ok'
