openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW WeMeet Web API'
 description: 'Web Resources Specification (A7) for WeMeet'

servers:
- url: http://lbaw22102.lbaw-prod.fe.up.pt/
 description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw22102/-/wikis/Architecture-Specification-and-Prototype

tags:
 - name: 'M01: Authentication and Individual Profile'
    description: 'Web resources associated with user authentication and individual profile management, includes the following system features: login/logout, registration, credential recovery, view and edit personal profile information.'
 - name: 'M02: Events'
    description: 'Web resources associated with events. Includes the following system features:  create, edit, join, invite and delete events.'
 - name: 'M03: Messages and Forum'
    description: 'Web resources associated with events forum and messages. Includes the following system features:  add, edit, vote and delete comments, create and answer polls and upload files.'
 - name: 'M05: User Administration'
    description: 'Web resources associated with users administration, including the following system features: block/unblock users, manage event reports and delete events and user accounts.'
 - name: 'M05: Static pages'
    description: 'Web resources associated with static pages, including the following system features: about us, contacts, user help.'

paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               password:    
                 type: string
               email:          
                 type: string
               password:    
                 type: string
             required:
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to events page.'
                 value: '/events'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /logout:
   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, ADM'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to login form.'
                 value: '/login'

 /register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show Sign-Up UI'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               username:
                 type: string
               email:
                 type: string
               password:
                 type: string
             required:
                  - username
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/events'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'


/profile:
    get:
      operationId: R106
      summary: 'R106: View User Profile'
      description: 'Show the individual user profile. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      responses:
        '200':
          description: 'Ok. Show'
        '404':
          description: 'Not Found.'


/profile/editProfile:
    post:
      operationId: R107
      summary: 'R107: Edit Profile'
      description: 'Edit account information. Access: ACO'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
                avatar:
                  type: string
                  format: byte

      responses:
        '200':
          description: 'Ok'
        "401":
          description: "Unauthorized"


 /events:



 /events/{id}:



 /eventsCreate:
 


 /myevents:


 /calendar:




