body {
  background-color: #ffffff;
  color: #403f3f;
}
main > header {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  margin: 1em;
}
main > header h1 {
  margin-right: 1em;
}
main > header a.button {
  margin: 1em;
  justify-self: right;
}

.event-feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.eventCard {
  display: flex;
  flex-direction: column;
  background-color: #c3daed;
  padding: 1em;
  margin: 1em;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  max-width: 25em;
}

.inner-main {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    right: 0;
    left: 235px;
}
.inner-main-body{
    padding: 1rem;
    overflow-y: auto;
    position: relative;
    flex: 1 1 auto;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.date{font-size: 0.5em}
.comment-text{font-size: 1em}
.fs-12{font-size: 1em}
.name{color: #007bff; margin: 1em;}
.cursor{cursor: pointer}
.textarea{resize: none}


#copyButton{
  justify-self: center;
}
.btn-primary{
  background-color: transparent;
  border-color: transparent;

}
.btn-primary:hover, .btn:focus{
  background-color: transparent;
  border-color: transparent;
  
}
ul{
  list-style-type: none;
}
li a{
  font-size: 2em;
  
  color: #8aa5e9; 
}
li a:hover{
  color: #a1b4e3;
}

. {
  font-size: 2em;
  margin: 1em;
  
}
.eventPart:hover{
  border-bottom: 2px solid rgba(90, 90, 90, 0.852);
}


#content label {
  font-weight: normal;
}
#content > form {
  margin: 0 auto;
  padding: 1em;
  max-width: 20em;
  border: 1px solid #d2afe7;
}
#content > form .error {
  font-weight: bold;
  color: #ff3333;
}
#content > form input {
  background-color: white;
}
@media (max-width: 70em) {
  .event-feed {
    grid-template-columns: repeat(2, 1fr);
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  main > header h1 {
    grid-row-end: span 2;
  }
}
@media (max-width: 40em) {
  .event-feed {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .eventCard{}
}
@media (max-width: 25em) {
  body {
    margin: 0;
  }
  main > header {
    margin: 0;
    padding: 0.5em;
  }
  main > header span {
    margin: 0;
  }
  #content form {
    margin: 0;
    max-width: 25em;
  }
  article.card {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
  }
}
/**
 * Overide milligram colors
 * Some styles might be missing
 **/
button, a.button {
  background-color: #a1b4e3;
  border-color: #a1b4e3;
  max-width: 20em;
  text-align: center;

}
button:hover, a.button:hover{
  background-color: #a1b4e3ce;
  border-color: #a1b4e3;
}

a.button.button-outline {
  color: #5e5e5e;
}
a {
  color: #4b4b4b;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #383838;
}

.col-sm-9{
  padding-left: 10px;
}

.mb-0{
  padding-left: 15px;
}

.col-lg-4{
  margin-right: auto;
}

.editProfile{
  margin: auto;
  align-content: center;
}

.container-pic-editProfile {
  width: fit-content;
  background-color: #eee;
  margin-right: auto;
} 

.container-password-editProfile {
  background-color: #eee;
  margin-right: auto;
  padding-left: 10px;
} 

.save-edit-profile-button{
  width: fit-content;
  padding-top: 30px;
  margin-left: 40px;  
}
.profile-picture{
  width: 10%;
  margin: 1em;
}
/* Add rounded corners to the top left and the top right corner of the image */
img {
  max-width: 30%;
  border-radius: 5px 5px 5px 5px;
}


.title{
  width: fit-content;
  margin-bottom: auto;
}