body {
  background-color: #f6f6f6;
  color: #403f3f;
  position: relative;
  min-height: 100vh;
}

main>header {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  background-color: white;
  top: 0;
  padding: 1em;
  z-index: 10000;
}

main>header h1 {
  margin-right: 1em;
}

main>header a.button {
  margin-right: 1em;
  justify-self: right;
  margin-bottom: 0;
  top:50%;
}

.event-feed,
.eventsAttended,
.eventsToAttend {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  border-radius: 1%;
  margin: 2em;
  padding: 1em;
  margin-top: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border: 1px solid rgba(167, 167, 167, 0.463);
}

.eventCard {
  flex-direction: column;
  margin: 0.5em;
  box-shadow: #0000001a 0px 2px 2px 1px;
  max-width: 20em;
  max-height: 25em;
  border-radius: 4%;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr auto;
}

.eventCard:hover{
  background-color: rgba(239, 239, 239, 0.509);
  cursor: pointer;

}
#eventMiniPicture{
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  object-fit: cover;
  aspect-ratio: 2/1;
}
.event-info{
  margin: 0.4em 1em;
}
#title{
  color: #000000;
  font-size: large;
}
#local{
  color: #6c757d;
}
.eventCard p {
  margin-bottom: 0em;
}
.eventCard button, .eventCard .button{
  margin: 0 1em 1em;

}

.inner-main {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  right: 0;
  left: 235px;
}

.inner-main-body {
  padding: 1rem;
  overflow-y: auto;
  position: relative;
  flex: 1 1 auto;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.date {
  font-size: 0.5em
}

.comment-text {
  font-size: 1em
}

.fs-12 {
  font-size: 1em
}

.name {
  color: #007bff;
  margin: 1em;
}

.cursor {
  cursor: pointer
}

.textarea {
  resize: none
}


#copyButton {
  justify-self: center;
}

.btn-primary {
  background-color: transparent;
  border-color: transparent;

}

.btn-primary:hover,
.btn:focus {
  background-color: transparent;
  border-color: transparent;

}

a:hover {
  color: #688ade;
}


.eventPart:hover {
  border-bottom: 2px solid rgba(90, 90, 90, 0.852);
}

#eventPicture{
  object-fit: cover;
  aspect-ratio: 1.5/1;

}
#info,
#forum {
  font-size: 1.5em;
  cursor: pointer;
  margin: 1em;
  padding: 0.2em;
}

#info:hover, #forum:hover{
  background-color: rgba(216, 216, 216, 0.413);
  border-radius: 10%;
}
#eventHeader{
  background-color: white;
}

#eventHeader .button, #eventHeader button{
  margin-right: 1em;
}

#details, #attendeeslist{
  background-color: white;
  margin: 2em;
  padding: 1em;
  border-radius: 2%;
}


#content {
  padding-left: 14em;
  padding-top: 5em;
}

#content label {
  font-weight: normal;
}

#content>form {
  margin: 0 auto;
  padding: 1em;
  max-width: 20em;
  border: 2px solid #a1b4e3c1;
  border-radius: 5%;
  margin-left: 17em;
  background-color: white;
}

#content>form .error {
  font-weight: bold;
  color: #ff3333;
}

#content>form input {
  background-color: white;
}


.nav-item {
  margin-right: 1em;
  margin-bottom: 0;
}
.nav-item a{
  color: #6c757d;
}
.nav-item a:hover{
  color: #007bffa4;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 220px;
    /* 180 + 40 */
  }
}

@media (max-width: 70em) {

  .event-feed,
  .eventsAttended,
  .eventsToAttend {
    grid-template-columns: repeat(2, 1fr);
  }

  main>header {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  main>header h1 {
    grid-row-end: span 2;
  }
}

@media (max-width: 50em) {

  .event-feed,
  .eventsAttended,
  .eventsToAttend {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .eventCard{
    max-width: 20em;
    min-width: 19em;
  }
}

@media (max-width: 25em) {
  body {
    margin: 0;
  }

  main>header {
    margin: 0;
    padding: 1em;
  }

  main>header span {
    margin: 0;
  }

  #content form {
    margin: 0;
    max-width: 25em;
  }

  article.card {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
  }
}

/**
 * Overide milligram colors
 * Some styles might be missing
 **/
button,
a.button {
  background-color: #a1b4e3;
  border-color: #a1b4e3;
  max-width: 13em;
}

#createButton {
  margin: auto;
  margin-top: 1em;
  display: flex;
  padding: 0 1em;
}

button:hover,
a.button:hover {
  background-color: #a1b4e3ce;
  border-color: #a1b4e3;
}

a {
  color: #4b4b4b;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #383838;
}


.col-sm-9 {
  padding-left: 10px;
}

.mb-0 {
  padding-left: 15px;
}

.col-lg-4 {
  margin-right: auto;
}

.editProfile {
  margin: auto;
  align-content: center;
}

.container-pic-editProfile {
  width: fit-content;
  background-color: #eee;
  margin-right: auto;
}

.container-password-editProfile {
  background-color: #eee;
  margin-right: auto;
  padding-left: 10px;
}

.save-edit-profile-button {
  width: fit-content;
  padding-top: 30px;
  margin-left: 40px;
}

.profile-picture {
  width: 8%;
  min-width: 3em;
  margin: 1em;
  border-radius: 50%;
  object-fit: cover; /* Required to prevent the image from stretching, use the object-position property to adjust the visible area */
  aspect-ratio: 1/1;
}

.mini-picture{
  width: 7%;
  min-width: 2.5em;
  border-radius: 50%;
  float: right;
  object-fit: cover; /* Required to prevent the image from stretching, use the object-position property to adjust the visible area */
  aspect-ratio: 1/1;
}

#logo {
  max-width: 20%;
  min-width: 10em;
}

.profile-picture .title {
  width: fit-content;
  margin-bottom: auto;
}

.menu-toggle {
  display: none;
  position: fixed;
  width: 2em;
  height: 2em;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10%;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5em;
}

.hamburger>span,
.hamburger>span::before,
.hamburger>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #a1b4e3;
  transition-duration: .25s;
}

.hamburger>span::before {
  content: '';
  top: -8px;
}

.hamburger>span::after {
  content: '';
  top: 8px;
}

.menu-toggle.is-active .hamburger>span {
  transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger>span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger>span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  top: 3.7em;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  width: 14em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 30px 3px;
}

.sidebar h4 {
  margin-top: 1em;
  margin-bottom: 0;
  font-weight: bold;
}

hr {
  display: block;
  border-top: 1px solid rgb(118, 118, 118);
  margin: 1em 1em;

}

.sidebar .menu .menu-item {
  display: block;
  padding: 1em;
  font-weight: normal;
  text-decoration: none;
  transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  color: #a1b4e3;
  border-right: 4px solid #a1b4e3;
  background-color: rgba(245, 245, 245, 0.692);
}

.sidebar i {
  margin-right: 1em;
}
#footer {
  padding-left: 14em;
  bottom: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  #content {
    padding-left: 0;
  }

  .sidebar {
    position: fixed;
    top: 4.3em;
    left: -300px;
    height: 100vh;
    width: 15em;
    transition: 0.2s linear;
  }

  #content>form {
    margin: 0 auto;
  }

  .sidebar.is-active {
    left: 0;
  }
  footer{
    margin-left: 0;
    width: 100%;
  }
}


.carousel-item{
  height: 80vh;
}
.carousel-control-next, .carousel-control-prev{
  top: 50%;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
  background-color: transparent;
}

#eventActions{
  display: flex;

}
#evenActions #shareBtn{
  float: right;
}